/* このファイルにページのスタイルに関する情報を記述する */

ul {
  list-style: none;
}

header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
}

main {
  padding-top: 94px;
  background-color: #F8F8F8;
}

header ul li a {
  color: #333;
  font-weight: bold;
}

header ul li a:hover {
  color: #666;
  text-decoration: underline #666;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.base-form {
  min-width: 400px;
  padding: 20px;
  background-color: #efefef;
  border-radius: 6px;
}

.base-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.base-form button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #666;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
}

.base-form .notification {
  padding: 8px;
  background-color: #fc4067;
  margin-bottom: 15px;
  border-radius: 6px;
}

.base-form .notification p,
.base-form .notification a,
.base-form .notification a:hover {
  color: #fff;
  margin-bottom: 0;
}

.base-form .notification a {
  text-decoration: underline;
}

.base-form .notification a:hover {
  opacity: 0.8;
}

.base-form select {
  padding: 12px 9px;
  margin-bottom: 15px;
  cursor: pointer;
}

.posts-side-form select {
  padding: 9px;
  cursor: pointer;
}

.posts-side-form option {
  font-size: 16px;
}

.posts-side-form button {
  color: #fff;
  background-color: #666;
  padding: 5px 8px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 16px;
}