{% extends "base.html" %}

{% block content %}
<h1 class="text-center">新規グループを作成する</h1>
<div class="py-4">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <form method="POST" action="/groups/create" class="base-form">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="notification">
        <p class="text-center">
          {{ messages[0] }}
        </p>
      </div>
      {% endif %}
      {% endwith %}
      <div class="form-item">
        <p class="mb-2 font-weight-bold">グループ名</p>
        <input type="text" name="group_name" required>
      </div>
      <button type="submit">作成する</button>
    </form>
  </div>
</div>
{% endblock %}
