{% extends "base.html" %}

{% block content %}
<h1>記事一覧</h1>
<div class="py-4">
  {% for post in posts %}
  <div class="d-flex align-items-center justify-content-between mb-3">
    <iframe class="hatenablogcard" style="width:100%;height:155px;max-width:680px;" src="https://hatenablog-parts.com/embed?url={{ post.url }}" width="300" height="150" frameborder="0" scrolling="no"></iframe>
    <form method="POST" action="/create_relation" class="posts-side-form">
      <input type="hidden" value="{{post.id}}" name="post_id">
      <select name="group_id" id="">
        <option value="">記事グループを選択</option>
        {% for group in groups %}
        <option value="{{group.id}}">{{group.name}}</option>
        {% endfor %}
      </select>
      <input type="hidden" name="current_path" value="" id="currentPath">
      <button type="submit">追加する</button>
    </form>
  </div>
  {% endfor %}
</div>
{% endblock %}
